<!doctype html>
<html>
<head>
    <title> Books in 3D </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <script src="/javascripts/libs/jquery.js"></script>

    <script src="/javascripts/libs/three61.js"></script>

    <script src="/javascripts/libs/stats.min.js"></script>
    <!--    <script src="/javascripts/libs/Detector.js"></script>
        <script src="/javascripts/libs/Coordinates.js"></script>
        <script src="/javascripts/libs/OrbitAndPanControls.js"></script>
        <script src="/javascripts/libs/TrackballControls.js"></script>

        <script src="/javascripts/libs/dat.gui.min.js"></script>
        <script src="/javascripts/libs/tween.min.js"></script>

        <script src="/javascripts/libs/threeJSLibs/loaders/MTLLoader.js"></script>
        <script src="/javascripts/libs/threeJSLibs/loaders/OBJMTLLoader.js"></script>

        <script src="/javascripts/libs/threeJSLibs/loaders/PLYLoader.js"></script>-->

    <script src="/javascripts/libs/threeJSLibs/loaders/OBJLoader.js"></script>
    <script src="/javascripts/libs/RequestAnimationFrame.js"></script>
    <script src="/javascripts/libs/threeJSLibs/controls/PointerLockControls.js"></script>
    <script src="/javascripts/libs/myUtils.js"></script>
</head>
<body>
    <script src="/javascripts/books3d.js"></script>
</body>
</html>